[Unit]
Description=Podman container-exec-healthchecks-postgres-dump.service
Wants=network-online.target
After=network-online.target
Wants=ping-healthchecks@{{ healthchecks.postgres.pg_dump.healthchecks_uuid }}:start.service
OnSuccess=ping-healthchecks@{{ healthchecks.postgres.pg_dump.healthchecks_uuid }}:success.service
OnFailure=ping-healthchecks@{{ healthchecks.postgres.pg_dump.healthchecks_uuid }}:failure.service

[Service]
Restart=no
ExecStart=/usr/bin/podman container exec healthchecks-postgres pg_dump --clean -U {{ healthchecks.postgres.user }} {{ healthchecks.postgres.database }} -f /opt/dumps/healthchecks.sql
Type=simple

[Install]
WantedBy=default.target
