[Unit]
Description=Home Assistant
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=home-assistant
Image={{ containers_images.home_assistant }}:{{ containers_images_tags.home_assistant }}
Network=host
Volume={{ containers_storage_path }}/data/home-assistant:/config:Z
Timezone={{ timezone }}
Environment=TZ="{{ timezone }}"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
