[Unit]
Description=Podman container-exec-immich-postgres-dump.service
Wants=network-online.target
After=network-online.target
Wants=ping-healthchecks@{{ immich.postgres.dump.healthchecks_uuid }}:start.service
OnSuccess=ping-healthchecks@{{ immich.postgres.dump.healthchecks_uuid }}:success.service
OnFailure=ping-healthchecks@{{ immich.postgres.dump.healthchecks_uuid }}:failure.service

[Service]
Restart=no
ExecStart=/usr/bin/podman container exec immich-postgres pg_dump --clean -U {{ immich.postgres.user }} {{ immich.postgres.database }} -f /opt/dumps/immich.sql
Type=simple

[Install]
WantedBy=default.target
