[Unit]
Description=Seerr
Documentation=man:podman-systemd.unit(5)

[Container]
ContainerName=seerr
Image={{ containers_images.seerr }}:{{ containers_images_tags.seerr }}
Network=web-egress
Network=common-internal
ExposeHostPort=5055
Volume={{ containers_storage_path }}/data/seerr:/app/config:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.seerr.rule=Host(`seerr.{{ domain_name }}`)"
Label="traefik.http.routers.seerr.entrypoints=websecure"
Label="traefik.http.services.seerr.loadbalancer.server.port=5055"
AutoUpdate=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target
