[Unit]
Description=Gluetun
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=gluetun
Pod=transmission-gluetun.pod
Image={{ containers_images.gluetun }}:{{ containers_images_tags.gluetun }}
AddCapability=NET_ADMIN
Sysctl=net.ipv6.conf.all.disable_ipv6=0
AddDevice=/dev/net/tun:/dev/net/tun
Volume={{ containers_storage_path }}/data/gluetun:/gluetun:Z
Timezone={{ timezone }}
EnvironmentFile={{ containers_storage_path }}/env/gluetun/gluetun.env
Environment="TZ={{ timezone }}"
Environment="VPN_TYPE=wireguard"
Environment="VPN_INTERFACE=wg0"
Environment="VPN_SERVICE_PROVIDER={{ gluetun.provider.name }}"
Environment="VPN_ENDPOINT_IP={{ gluetun.wireguard.endpoint.ip }}"
Environment="VPN_ENDPOINT_PORT={{ gluetun.wireguard.endpoint.port }}"
Environment="WIREGUARD_PUBLIC_KEY={{ gluetun.wireguard.endpoint.public_key }}"
Environment="WIREGUARD_ADDRESSES={{ gluetun.wireguard.addresses }}"
Environment="FIREWALL_VPN_INPUT_PORTS={{ gluetun.firewall.vpn_input_ports }}"
Environment="DOT=off"
Environment="DNS_ADDRESS={{ gluetun.dns.addresses }}"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
