[Unit]
Description=Transmission-Gluetun Pod
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Pod]
PodName=transmission-gluetun
Network=gluetun-external
Network=common-internal

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
