[Unit]
Description=Transmission
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=transmission
Pod=transmission-gluetun.pod
Image={{ containers_images.transmission }}:{{ containers_images_tags.transmission }}
ExposeHostPort=9091
Volume={{ containers_storage_path }}/data/transmission:/config:Z
Volume={{ nfs_mounts_path }}/downloads/bittorrent/downloads:/downloads:slave
Volume={{ nfs_mounts_path }}/downloads/bittorrent/watch:/watch:slave
Secret=transmission_user
Secret=transmission_password
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Environment="FILE__USER=/run/secrets/transmission_user"
Environment="FILE__PASS=/run/secrets/transmission_password"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.transmission.rule=Host(`transmission.{{ domain_name }}`)"
Label="traefik.http.routers.transmission.entrypoints=websecure"
Label="traefik.http.routers.transmission.middlewares=set-security-headers@file, restrict-external-access@file"
Label="traefik.http.services.transmission.loadbalancer.server.port=9091"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
