server:
  disable: true
#  http_listen_port: 9080
#  grpc_listen_port: 0

positions:
  filename: '/promtail/positions.yaml'

clients:
  - url: 'https://loki.{{ domain_name }}/loki/api/v1/push'
    basic_auth:
      username: '{{ promtail.clients.basic_auth.user }}'
      password_file: '/run/secrets/promtail_loki_password'

scrape_configs:
{% if inventory_hostname == "monitoring" %}
  - job_name: 'syslog'
    syslog:
      listen_address: '0.0.0.0:1514'
      listen_protocol: 'tcp'
      use_incoming_timestamp: true
      label_structured_data: true
      labels:
        job: 'syslog-ng'
    relabel_configs:
      - source_labels: ['__syslog_message_hostname']
        target_label: 'host'
      - source_labels: ['__syslog_message_facility']
        target_label: 'facility'
      - source_labels: ['__syslog_message_app_name']
        target_label: 'appname'
{% endif %}
  - job_name: 'journal'
    journal:
      max_age: '12h'
      labels:
        job: 'systemd-journal'
    relabel_configs:
      - source_labels: ['__journal__hostname']
        target_label: 'host'
      - source_labels: ['__journal__transport']
        target_label: 'transport'
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
