# https://passbe.com/2022/healthchecks-io-systemd-checks/
[Unit]
Description=Pings Healthchecks.io UUID (%i)

[Service]
ExecStart=/bin/bash -c 'IFS=: read -r UUID ACTION <<< "%i"; if [ "$ACTION" = "start" ]; then ENDPOINT="start"; else ENDPOINT=$MONITOR_EXIT_STATUS; fi && curl -fsS -m 10 --retry 5 -o /dev/null "https://hc-ping.com/$UUID/$ENDPOINT"'
Type=simple

[Install]
WantedBy=multi-user.target
