[Unit]
Description=Btrfs snapshot of %f
ConditionPathIsMountPoint=%f
RequiresMountsFor=%f
{% if "cloud_hosts" in group_names %}
OnSuccess=ping-healthchecksio-slug@%l-btrfs-snapshot-%i:success.service
OnFailure=ping-healthchecksio-slug@%l-btrfs-snapshot-%i:failure.service
{% else %}
OnSuccess=ping-healthchecks-slug@%l-btrfs-snapshot-%i:success.service
OnFailure=ping-healthchecks-slug@%l-btrfs-snapshot-%i:failure.service
{% endif %}

[Service]
ExecStart=/usr/bin/bash -c "[ -d %f/.snapshot ] && /usr/sbin/btrfs subvolume delete %f/.snapshot; /usr/sbin/btrfs subvolume snapshot -r %f %f/.snapshot"
Type=simple

[Install]
WantedBy=multi-user.target
