defaults

account {{ smtp_relay.name }}
host {{ smtp_relay.host }}
port 587
tls on
tls_starttls on
from {{ ansible_hostname | lower }}@{{ smtp_relay.from_domain }}
from_full_name {{ ansible_hostname }}
allow_from_override off
set_from_header on
auth on
user {{ smtp_relay.user }}
password {{ smtp_relay.password }}

account default : {{ smtp_relay.name }}

aliases /etc/aliases

syslog LOG_MAIL
