# https://passbe.com/2022/healthchecks-io-systemd-checks/
[Unit]
Description=Pings Healthchecks slug (%i)

[Service]
ExecStart=/bin/bash -c 'IFS=: read -r SLUG ACTION <<< "%i"; if [ "$ACTION" = "start" ]; then ENDPOINT="start"; else ENDPOINT=$MONITOR_EXIT_STATUS; fi && /usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null "https://healthchecks.{{ domain_name }}/ping/$PING_KEY/$SLUG/$ENDPOINT"'
Type=simple

[Install]
WantedBy=multi-user.target
