[Interface]
Address = {% for cidr in wireguard_tunnel.interface.addresses %}{{ cidr }}{{ "," if not loop.last else "" }}{% endfor %} 
ListenPort = 51820
PrivateKey = {{ wireguard_tunnel.interface.private_key }}
PostUp = resolvectl dns %i {% for ip in wireguard_tunnel.interface.dns_servers %}{{ ip }}{{ " " if not loop.last else "" }}{% endfor %}; resolvectl domain %i {% for domain in wireguard_tunnel.interface.search_domains %}~{{ domain }}{{ " " if not loop.last else "" }}{% endfor %}

[Peer]
PublicKey = {{ wireguard_tunnel.peer.public_key }}
PresharedKey = {{ wireguard_tunnel.peer.preshared_key }}
AllowedIPs = {% for cidr in wireguard_tunnel.peer.allowed_ips %}{{ cidr }}{{ "," if not loop.last else "" }}{% endfor %} 
Endpoint = {{ wireguard_tunnel.peer.endpoint }}
