# Set what you need and comment any variable that you don't want to set/want to leave default.

## Global
LOCAL_STORAGE=/usr/local/share/docker-containers/data
MOUNT_POINT=/mnt/myserver
DOMAIN_NAME=example.com
TZ=Europe/Paris
PUID=1001
PGID=1001

## Traefik
# See here to know which variables you need to set for your specific provider https://docs.traefik.io/configuration/acme/#provider
# For OVH first go to https://eu.api.ovh.com/createApp/ and create an API Application then type in a shell: curl -XPOST -H"X-Ovh-Application: YOURAPPKEY" -H "Content-type: application/json" https://eu.api.ovh.com/1.0/auth/credential  -d '{"accessRules":[{"method":"GET","path":"/*"},{"method":"POST","path":"/*"},{"method":"PUT","path":"/*"},{"method":"DELETE","path":"/*"}]}'
OVH_ENDPOINT=ovh-eu
OVH_APPLICATION_KEY=xxxxxxxxxxxxxxxx
OVH_APPLICATION_SECRET=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
OVH_CONSUMER_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

## Transmission
# Learn about what those variables do here https://hub.docker.com/r/haugene/transmission-openvpn/
OPENVPN_PROVIDER=CUSTOM
OPENVPN_USERNAME=whatever
OPENVPN_PASSWORD=whatever
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60 --mssfix 1460 --mute-replay-warnings
LOCAL_NETWORK=192.168.0.0/24
ENABLE_UFW=true
UFW_ALLOW_GW_NET=true
UFW_EXTRA_PORTS=9910,23561,443
#TRANSMISSION_WEB_HOME=/path/to/web/ui
# Possibilities are combustion, kettu and transmission-web-control
TRANSMISSION_WEB_UI=transmission-web-control
WEBPROXY_ENABLED=true
WEBPROXY_PORT=8888
# All Transmission specific variables are the defaults that ships with the software.
# See here for more information about them https://github.com/transmission/transmission/wiki/Editing-Configuration-Files
# Bandwidth
TRANSMISSION_ALT_SPEED_ENABLED=false
TRANSMISSION_ALT_SPEED_UP=50
TRANSMISSION_ALT_SPEED_DOWN=50
TRANSMISSION_SPEED_LIMIT_DOWN=100
TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=false
TRANSMISSION_SPEED_LIMIT_UP=100
TRANSMISSION_SPEED_LIMIT_UP_ENABLED=false
TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT=14
# Blocklists
TRANSMISSION_BLOCKLIST_URL=http://www.example.com/blocklist
TRANSMISSION_BLOCKLIST_ENABLED=false
# Files and Locations
TRANSMISSION_DOWNLOAD_DIR=/data/seeding
TRANSMISSION_INCOMPLETE_DIR=/data/leeching
TRANSMISSION_INCOMPLETE_DIR_ENABLED=false
TRANSMISSION_PREALLOCATION=1
TRANSMISSION_RENAME_PARTIAL_FILES=true
TRANSMISSION_START_ADDED_TORRENTS=true
TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES=false
TRANSMISSION_UMASK=18
TRANSMISSION_WATCH_DIR=/data/watching
TRANSMISSION_WATCH_DIR_ENABLED=false
# Misc
TRANSMISSION_CACHE_SIZE_MB=4
TRANSMISSION_DHT_ENABLED=true
TRANSMISSION_ENCRYPTION=1
TRANSMISSION_LAZY_BITFIELD_ENABLED=true
TRANSMISSION_LPD_ENABLED=false
TRANSMISSION_MESSAGE_LEVEL=2
TRANSMISSION_PEX_ENABLED=true
TRANSMISSION_PREFETCH_ENABLED=true
TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=true
TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED=false
TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME=
TRANSMISSION_UTP_ENABLED=true
# Peers
TRANSMISSION_PEER_CONGESTION_ALGORITHM=
TRANSMISSION_PEER_ID_TTL_HOURS=6
TRANSMISSION_PEER_LIMIT_GLOBAL=240
TRANSMISSION_PEER_LIMIT_PER_TORRENT=60
TRANSMISSION_PEER_SOCKET_TOS=default
# Peer port
TRANSMISSION_PEER_PORT=51413
TRANSMISSION_PEER_PORT_RANDOM_HIGH=65535
TRANSMISSION_PEER_PORT_RANDOM_LOW=1024
TRANSMISSION_PEER_PORT_RANDOM_ON_START=false
TRANSMISSION_PORT_FORWARDING_ENABLED=true
# Queuing
TRANSMISSION_DOWNLOAD_QUEUE_ENABLED=true
TRANSMISSION_DOWNLOAD_QUEUE_SIZE=5
TRANSMISSION_QUEUE_STALLED_ENABLED=true
TRANSMISSION_QUEUE_STALLED_MINUTES=30
TRANSMISSION_SEED_QUEUE_ENABLED=false
TRANSMISSION_SEED_QUEUE_SIZE=10
# RPC
TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=false
TRANSMISSION_RPC_BIND_ADDRESS=0.0.0.0
TRANSMISSION_RPC_ENABLED=true
TRANSMISSION_RPC_HOST_WHITELIST=
TRANSMISSION_RPC_HOST_WHITELIST_ENABLED=true
TRANSMISSION_RPC_PASSWORD=password
TRANSMISSION_RPC_PORT=9091
TRANSMISSION_RPC_URL=/transmission/
TRANSMISSION_RPC_USERNAME=
TRANSMISSION_RPC_WHITELIST=127.0.0.1
TRANSMISSION_RPC_WHITELIST_ENABLED=true
# Scheduling
TRANSMISSION_ALT_SPEED_TIME_ENABLED=true
TRANSMISSION_ALT_SPEED_TIME_BEGIN=540
TRANSMISSION_ALT_SPEED_TIME_END=1020
TRANSMISSION_ALT_SPEED_TIME_DAY=127
TRANSMISSION_IDLE_SEEDING_LIMIT=30
TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED=false
TRANSMISSION_RATIO_LIMIT=2.0
TRANSMISSION_RATIO_LIMIT_ENABLED=false

## Plex Media Server
# See the "Tags" section here https://hub.docker.com/r/plexinc/pms-docker/ in order to learn about the available tags
PLEX_TAG=latest
# Get a claim token here https://www.plex.tv/claim/
PLEX_CLAIM=claim-xxxxxxxxxxxxxxxxxxxx

## Airsonic
JAVA_OPTS=-Xmx256m -Xms256m -DDatabaseMysqlMaxlength=512 -DDatabaseConfigType=embed

## MariaDB / Nextcloud
MYSQL_ROOT_PASSWORD=supersecretpassword
MYSQL_PASSWORD=secretpassword
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_HOST=mariadb_nextcloud
LOCAL_DOCUMENTS=/mnt/myserver/documents

## Collabora Online
# Need single backslash before the dots because the domain parameter takes a regular expression
NEXTCLOUD_DOMAIN=cloud\.example\.com
# Login and password to access the admin console at https://office.example.com/loleaflet/dist/admin/admin.html
COLLABORA_USERNAME=admin
COLLABORA_PASSWORD=password
COLLABORA_DICTIONARIES=fr_FR en_US
