## Global
LOCAL_STORAGE=/var/containers
MOUNT_POINT=/mnt/myserver
DOMAIN_NAME=example.com
TZ=Europe/Paris
PUID=3000
PGID=3000

## OpenVPN
OPENVPN_FORWARDED_PORT=55555
OPENVPN_OTHER_ARGS=--inactive 3600 --ping 10 --ping-exit 60

## Traefik
TRAEFIK_TAG=2.7
TRAEFIK_API_USER=admin
TRAEFIK_API_PASSWORD=passwordhash

## Transmission
TRANSMISSION_USER=transmission
TRANSMISSION_PASSWORD=password

## Unpackerr
UNPACKER_SONARR_API_KEY=sonarrapikey
UNPACKER_RADARR_API_KEY=radarrapikey
UNPACKER_LIDARR_API_KEY=lidarrapikey
UNPACKER_READARR_API_KEY=readarrapikey

## Plex Media Server
# See the "Tags" section here https://hub.docker.com/r/plexinc/pms-docker/ in order to learn about the available tags
PLEX_TAG=latest
# Get a claim token here https://www.plex.tv/claim/
PLEX_CLAIM=claim-xxxxxxxxxxxxxxxxxxxx

## Calibre
CALIBRE_USER=calibre
CALIBRE_PASSWORD=passwordhash

## Nextcloud
NC_MARIADB_TAG=10.6
NC_REDIS_TAG=6
NEXTCLOUD_TAG=24
NC_MYSQL_ROOT_PASSWORD=password
NC_MYSQL_PASSWORD=password
NC_MYSQL_DATABASE=nextcloud
NC_MYSQL_USER=nextcloud
NC_REDIS_PASSWORD=password

## Collabora Online
NEXTCLOUD_DOMAIN=cloud.example.com
# Login and password to access the admin console at https://office.example.com/loleaflet/dist/admin/admin.html
COLLABORA_USERNAME=admin
COLLABORA_PASSWORD=password
COLLABORA_DICTIONARIES=fr_FR en_US

## Photoprism
PHOTOPRISM_MARIADB_TAG=10.6
PHOTOPRISM_MYSQL_ROOT_PASSWORD=password
PHOTOPRISM_MYSQL_DATABASE=photoprism
PHOTOPRISM_MYSQL_USER=photoprism
PHOTOPRISM_MYSQL_PASSWORD=password
PHOTOPRISM_PICTURES_PATH=path/to/pictures
PHOTOPRISM_VIDEOS_PATH=path/to/videos

## Tiny Tiny RSS
TTRSS_POSTGRES_TAG=12
TTRSS_NGINX_TAG=1
TTRSS_POSTGRES_DB=ttrss
TTRSS_POSTGRES_USER=ttrss
TTRSS_POSTGRES_PASSWORD=password
