#!/usr/bin/env bash

if [[ ${EUID} -ne 0 ]]; then
  echo "Must be executed as root." 1>&2
  exit 1
fi

podman run \
--rm \
--interactive \
--entrypoint /home/vdirsyncer/.local/bin/vdirsyncer \
--hostname {{ ansible_hostname }} \
--network web-egress \
--tz={{ timezone }} \
--env TZ={{ timezone }} \
--volume {{ containers_storage_path }}/config/vdirsyncer/config:/vdirsyncer/config:Z \
--volume {{ containers_storage_path }}/runtime/vdirsyncer:/vdirsyncer/status:Z \
--volume {{ nfs_mounts_path }}/backups/groupware/contacts:/contacts:slave \
--volume {{ nfs_mounts_path }}/backups/groupware/calendars:/calendars:slave \
--secret vdirsyncer_carddav_password \
--secret vdirsyncer_caldav_password \
{{ containers_images.vdirsyncer }}:{{ containers_images_tags.vdirsyncer }} $@
