[Unit]
Description=Podman container-exec-nextcloud-mariadb-dump.service
Wants=network-online.target
After=network-online.target
Wants=ping-healthchecks-io@{{ nextcloud.mariadb.dump.healthchecks_uuid }}:start.service
OnSuccess=ping-healthchecks-io@{{ nextcloud.mariadb.dump.healthchecks_uuid }}:success.service
OnFailure=ping-healthchecks-io@{{ nextcloud.mariadb.dump.healthchecks_uuid }}:failure.service

[Service]
Restart=no
ExecStart=/usr/bin/podman container exec nextcloud-mariadb sh -c "mysqldump --single-transaction --default-character-set=utf8mb4 {{ nextcloud.mariadb.database }} > /opt/dumps/nextcloud.sql"
Type=simple

[Install]
WantedBy=default.target
