version: 2

extras:
  env: &b2_account
    B2_ACCOUNT_ID: '{{ autorestic.b2.account_id }}'
    B2_ACCOUNT_KEY: '{{ autorestic.b2.account_key }}'

global:
  forget: &forget
    keep-daily: 28
    keep-weekly: 8
    keep-monthly: 6
    keep-yearly: 1
  backup: &backup
    exclude-if-present:
      - '.nobackup'

locations:
  documents:
    from: '{{ nfs_mounts_path }}/data/containers/nextcloud'
    to: 'b2_documents'
    forget: 'prune'
    options:
      forget:
        <<: *forget
      backup:
        exclude:
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/files_external'
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/appdata_*/preview'
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/*/cache'
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/*/files_trashbin'
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/*/files_versions'
          - '{{ nfs_mounts_path }}/data/containers/nextcloud/*/uploads'
          - '*.log'
          - '*.log.[0123456789]'
        <<: *backup
    hooks:
      before:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.documents.healthchecks_uuid }}/start'
      failure:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.documents.healthchecks_uuid }}/fail'
      success:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.documents.healthchecks_uuid }}'
  groupware:
    from: '{{ nfs_mounts_path }}/backups/groupware'
    to: 'b2_groupware'
    forget: 'prune'
    options:
      forget:
        <<: *forget
      backup:
        <<: *backup
    hooks:
      before:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.groupware.healthchecks_uuid }}/start'
      failure:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.groupware.healthchecks_uuid }}/fail'
      success:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.groupware.healthchecks_uuid }}'
  medias:
    from:
      - '{{ nfs_mounts_path }}/medias/audiodrama'
      - '{{ nfs_mounts_path }}/medias/audiobooks'
      - '{{ nfs_mounts_path }}/medias/books'
      - '{{ nfs_mounts_path }}/medias/comics'
    to: 'b2_medias'
    forget: 'prune'
    options:
      forget:
        <<: *forget
      backup:
        <<: *backup
    hooks:
      before:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.medias.healthchecks_uuid }}/start'
      failure:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.medias.healthchecks_uuid }}/fail'
      success:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.medias.healthchecks_uuid }}'
  servers:
    from: '{{ nfs_mounts_path }}/backups/servers'
    to: 'b2_servers'
    forget: 'prune'
    options:
      forget:
        <<: *forget
      backup:
        <<: *backup
    hooks:
      before:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.servers.healthchecks_uuid }}/start'
      failure:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.servers.healthchecks_uuid }}/fail'
      success:
        - 'wget -T 10 -O- -q https://healthchecks.{{ domain_name }}/ping/{{ autorestic.servers.healthchecks_uuid }}'

backends:
  b2_documents:
    type: 'b2'
    path: '{{ autorestic.documents.bucket }}'
    key: '{{ autorestic.documents.key }}'
    env:
      <<: *b2_account
  b2_groupware:
    type: 'b2'
    path: '{{ autorestic.groupware.bucket }}'
    key: '{{ autorestic.groupware.key }}'
    env:
      <<: *b2_account
  b2_medias:
    type: 'b2'
    path: '{{ autorestic.medias.bucket }}'
    key: '{{ autorestic.medias.key }}'
    env:
      <<: *b2_account
  b2_servers:
    type: 'b2'
    path: '{{ autorestic.servers.bucket }}'
    key: '{{ autorestic.servers.key }}'
    env:
      <<: *b2_account
