variant: fcos
version: 1.5.0
storage:
  disks:
    - device: /dev/disk/by-id/coreos-boot-disk
      wipe_table: false
      partitions:
        - number: 4
          label: root
          size_mib: 16384
          resize: true
        - label: var-lib-containers
          size_mib: 24576
        - label: var-containers
          size_mib: 0
  filesystems:
    - device: /dev/disk/by-partlabel/root
      wipe_filesystem: true
      format: btrfs
      label: root
    - path: /var/lib/containers
      device: /dev/disk/by-partlabel/var-lib-containers
      format: btrfs
      label: var-lib-containers
      with_mount_unit: true
    - path: /var/containers
      device: /dev/disk/by-partlabel/var-containers
      format: btrfs
      label: var-containers
      mount_options:
        - compress=zstd
      with_mount_unit: true
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostvars['backups']['ansible_host'] }}
    - path: /etc/vconsole.conf
      mode: 0644
      contents:
        inline: KEYMAP=us-intl
    - path: /etc/systemd/zram-generator.conf
      mode: 0644
      contents:
        inline: |
          [zram0]
          compression-algorithm = zstd
    - path: /etc/sysctl.d/99-zram.conf
      mode: 0644
      contents:
        inline: |
          vm.swappiness = 180
          vm.page-cluster = 0
    - path: /etc/containers/storage.conf
      mode: 0644
      contents:
        inline: |
          [storage]
          driver = "btrfs"
          runroot = "/run/containers/storage"
          graphroot = "/var/lib/containers/storage"
    - path: /etc/systemd/system/rpm-ostree-install.service.d/packages.conf
      mode: 0644
      contents:
        inline: |
          [Service]
          Environment=PACKAGE_LIST="qemu-guest-agent python3"
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/Europe/Paris
systemd:
  units:
    - name: zincati.service
      enabled: false
    - name: qemu-guest-agent.service
      enabled: true
    - name: bootupd-auto-update.service
      enabled: true
      contents: |
        [Unit]
        Description=Bootupd automatic update

        [Service]
        ExecStart=/usr/bin/bootupctl update
        RemainAfterExit=yes

        [Install]
        WantedBy=multi-user.target
    - name: rpm-ostree-install.service
      enabled: true
      contents: |
        [Unit]
        Description=Layer additional packages with rpm-ostree
        Wants=network-online.target
        After=network-online.target
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.stamp

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/rpm-ostree install --assumeyes --apply-live --allow-inactive $PACKAGE_LIST
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
passwd:
  users:
    - name: core
      password_hash: {{ hostvars['backups']['linux_password_hash'] }}
      ssh_authorized_keys:
{% for key in admin_user.ssh_keys %}
        - {{ key }}
{% endfor %}
