variant: fcos
version: 1.5.0
storage:
  disks:
    - device: /dev/disk/by-id/coreos-boot-disk
      wipe_table: false
      partitions:
        - number: 4
          label: root
          size_mib: 16384
          resize: true
        - label: var-lib-containers
          size_mib: 0
  filesystems:
    - device: /dev/disk/by-partlabel/root
      wipe_filesystem: true
      format: btrfs
      label: root
    - path: /var/lib/containers
      device: /dev/disk/by-partlabel/var-lib-containers
      format: btrfs
      with_mount_unit: true
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostvars['documents']['ansible_host'] }}
    - path: /etc/vconsole.conf
      mode: 0644
      contents:
        inline: KEYMAP=us-intl
    - path: /etc/systemd/zram-generator.conf
      mode: 0644
      contents:
        inline: |
          [zram0]
          compression-algorithm = zstd
    - path: /etc/sysctl.d/99-zram.conf
      mode: 0644
      contents:
        inline: |
          vm.swappiness = 180
          vm.page-cluster = 0
    - path: /etc/containers/storage.conf
      mode: 0644
      contents:
        inline: |
          [storage]
          driver = "btrfs"
          runroot = "/run/containers/storage"
          graphroot = "/var/lib/containers/storage"
    - path: /etc/systemd/system/rpm-ostree-install.service.d/packages.conf
      mode: 0644
      contents:
        inline: |
          [Service]
          Environment=PACKAGE_LIST="qemu-guest-agent python3"
    - path: /etc/NetworkManager/system-connections/Wired connection 1.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=Wired connection 1
          type=ethernet
          interface-name=ens3

          [ipv4]
          method=auto

          [ipv6]
          address1={{ hostvars['documents']['network_config']['ipv6']['address'] }}/64,fe80::1
          dns=2a01:4ff:ff00::add:1;2a01:4ff:ff00::add:2;
          method=manual
    - path: /etc/wireguard/wg0.conf
      mode: 0600
      contents:
        inline: |
          [Interface]
          Address = {% for cidr in hostvars['documents']['wireguard_tunnel']['interface']['addresses'] %}{{ cidr }}{{ "," if not loop.last else "" }}{% endfor %} 
          ListenPort = 51820
          PrivateKey = {{ hostvars['documents']['wireguard_tunnel']['interface']['private_key'] }}
          PostUp = resolvectl dns %i {% for ip in hostvars['documents']['wireguard_tunnel']['interface']['dns_servers'] %}{{ ip }}{{ " " if not loop.last else "" }}{% endfor %}; resolvectl domain %i {% for domain in hostvars['documents']['wireguard_tunnel']['interface']['search_domains'] %}~{{ domain }}{{ " " if not loop.last else "" }}{% endfor %}

          [Peer]
          PublicKey = {{ hostvars['documents']['wireguard_tunnel']['peer']['public_key'] }}
          PresharedKey = {{ hostvars['documents']['wireguard_tunnel']['peer']['preshared_key'] }}
          AllowedIPs = {% for cidr in hostvars['documents']['wireguard_tunnel']['peer']['allowed_ips'] %}{{ cidr }}{{ "," if not loop.last else "" }}{% endfor %} 
          Endpoint = {{ hostvars['documents']['wireguard_tunnel']['peer']['endpoint'] }}
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/Europe/Paris
systemd:
  units:
    - name: zincati.service
      enabled: false
    - name: qemu-guest-agent.service
      enabled: true
    - name: wg-quick@wg0.service
      enabled: true
    - name: bootupd-auto-update.service
      enabled: true
      contents: |
        [Unit]
        Description=Bootupd automatic update

        [Service]
        ExecStart=/usr/bin/bootupctl update
        RemainAfterExit=yes

        [Install]
        WantedBy=multi-user.target
    - name: rpm-ostree-install.service
      enabled: true
      contents: |
        [Unit]
        Description=Layer additional packages with rpm-ostree
        Wants=network-online.target
        After=network-online.target
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.stamp

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/rpm-ostree install --assumeyes --apply-live --allow-inactive $PACKAGE_LIST
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
    - name: var-containers.mount
      enabled: true
      contents: |
        [Unit]
        Requires=systemd-fsck@dev-disk-by\x2dpartlabel-var\x2dcontainers.service
        After=systemd-fsck@dev-disk-by\x2dpartlabel-var\x2dcontainers.service

        [Mount]
        Where=/var/containers
        What=/dev/disk/by-partlabel/var-containers
        Type=btrfs
        Options=compress=zstd

        [Install]
        RequiredBy=local-fs.target
    - name: var-mnt-vol01.mount
      enabled: true
      contents: |
        [Unit]
        Requires=systemd-fsck@dev-disk-by\x2dpartlabel-vol01.service
        After=systemd-fsck@dev-disk-by\x2dpartlabel-vol01.service

        [Mount]
        Where=/var/mnt/vol01
        What=/dev/disk/by-partlabel/vol01
        Type=btrfs
        Options=compress=zstd

        [Install]
        RequiredBy=local-fs.target
passwd:
  users:
    - name: core
      password_hash: {{ hostvars['documents']['linux_password_hash'] }}
      ssh_authorized_keys:
{% for key in admin_user.ssh_keys %}
        - {{ key }}
{% endfor %}
