[Unit]
Description=Healthchecks PostgreSQL
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=healthchecks-postgres
Image={{ containers_images.healthchecks.postgres }}:{{ containers_images_tags.healthchecks.postgres }}
Network=healthchecks-postgres-internal
ExposeHostPort=5432
Volume={{ containers_storage_path }}/runtime/healthchecks-postgres:/var/lib/postgresql/data:Z
Volume={{ containers_storage_path }}/data/healthchecks-postgres:/opt/dumps:Z
Secret=healthchecks_postgres_user
Secret=healthchecks_postgres_password
#Timezone={{ timezone }} # See https://github.com/healthchecks/healthchecks/issues/657
Environment=TZ="{{ timezone }}"
Environment=POSTGRES_DB="{{ healthchecks.postgres.database }}"
Environment=POSTGRES_USER_FILE="/run/secrets/healthchecks_postgres_user"
Environment=POSTGRES_PASSWORD_FILE="/run/secrets/healthchecks_postgres_password"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
