[Unit]
Description=Healthchecks Server
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target
After=healthchecks-postgres.service
Requires=healthchecks-postgres.service

[Container]
ContainerName=healthchecks-server
Image={{ containers_images.healthchecks.server }}:{{ containers_images_tags.healthchecks.server }}
Network=web-egress
Network=common-internal
Network=healthchecks-postgres-internal
ExposeHostPort=8000
Volume={{ containers_storage_path }}/config/healthchecks-server/logo.png:/opt/healthchecks/static-collected/img/logo.png:Z
Volume={{ containers_storage_path }}/config/healthchecks-server/apple-touch-180.png:/opt/healthchecks/static-collected/img/apple-touch-180.png:Z
Timezone={{ timezone }}
EnvironmentFile={{ containers_storage_path }}/env/healthchecks-server/healthchecks-server.env
Environment=TZ="{{ timezone }}"
Environment=UWSGI_DISABLE_LOGGING="1"
Environment=DEBUG="False"
Environment=DB="postgres"
Environment=DB_HOST="healthchecks-postgres"
Environment=DB_PORT="5432"
Environment=DB_NAME="{{ healthchecks.postgres.database }}"
Environment=SITE_NAME="Healthchecks"
Environment=SITE_ROOT="https://healthchecks.{{ domain_name }}"
#Environment=SITE_LOGO_URL=""
Environment=ALLOWED_HOSTS="healthchecks.{{ domain_name }}"
Environment=ADMINS="{{ admin_user.email }}"
Environment=REGISTRATION_OPEN="False"
Environment=PING_BODY_LIMIT="10000"
Environment=PROMETHEUS_ENABLED="True"
Environment=DEFAULT_FROM_EMAIL="{{ healthchecks.app.email.from }}"
Environment=EMAIL_HOST="{{ healthchecks.app.email.host }}"
Environment=EMAIL_PORT="{{ healthchecks.app.email.port }}"
Environment=EMAIL_USE_TLS="{{ healthchecks.app.email.starttls }}"
Environment=EMAIL_USE_SSL="{{ healthchecks.app.email.ssl }}"
Environment=EMAIL_USE_VERIFICATION="True"
Environment=PUSHOVER_SUBSCRIPTION_URL="{{ healthchecks.app.pushover.subscription_url }}"
Label=traefik.enable="true"
Label=traefik.docker.network="common-internal"
Label=traefik.http.routers.healthchecks.rule="Host(`healthchecks.{{ domain_name }}`)"
Label=traefik.http.routers.healthchecks.entrypoints="websecure"
Label=traefik.http.routers.healthchecks.middlewares="set-security-headers@file, restrict-external-access@file"
Label=traefik.http.services.healthchecks.loadbalancer.server.port="8000"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
