[Unit]
Description=Tiny Tiny RSS PostgreSQL dump
Wants=network-online.target
After=network-online.target
Wants=ping-healthchecks-io@{{ ttrss.postgres.dump.healthchecks_uuid }}:start.service
OnSuccess=ping-healthchecks-io@{{ ttrss.postgres.dump.healthchecks_uuid }}:success.service
OnFailure=ping-healthchecks-io@{{ ttrss.postgres.dump.healthchecks_uuid }}:failure.service

[Service]
Restart=no
ExecStart=/usr/bin/podman container exec ttrss-postgres pg_dump --clean -U {{ ttrss.postgres.user }} {{ ttrss.postgres.database }} -f /opt/dumps/ttrss.sql
Type=simple

[Install]
WantedBy=default.target
