[Unit]
Description=node_exporter
Documentation=man:podman-systemd.unit(5)

[Container]
ContainerName=node-exporter
Image={{ containers_images.node_exporter }}:{{ containers_images_tags.node_exporter }}
Exec=--path.rootfs=/host --web.config.file=/etc/node-exporter/web.yml
PodmanArgs=--pid=host
Network=host
Volume={{ containers_storage_path }}/config/node-exporter/web.yml:/etc/node-exporter/web.yml:Z,ro
Volume=/:/host:rslave,ro
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
AutoUpdate=local

[Service]
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target
