# See /usr/share/postfix/main.cf.dist for a commented, more complete version

myhostname={{ ansible_fqdn }}

smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mynetworks = 127.0.0.0/8
inet_interfaces = loopback-only
recipient_delimiter = +

compatibility_level = 2

relayhost = [{{ smtp_relay.host }}]:465
smtp_use_tls = yes
smtp_tls_wrappermode = yes
smtp_tls_security_level = verify
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_header_checks = pcre:/etc/postfix/smtp_header_checks
canonical_maps = regexp:/etc/postfix/canonical
canonical_classes = envelope_sender
