RUN_AS_USER nut

MONITOR {{ ups.name }}@{{ ups.server }} 1 {{ ups.user }} {{ ups.password }} secondary

MINSUPPLIES 1
SHUTDOWNCMD "/sbin/shutdown -h +0"
#SHUTDOWNEXIT yes
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 15
POWERDOWNFLAG "/etc/killpower"

#OFFDURATION 30
RBWARNTIME 43200
NOCOMMWARNTIME 300
FINALDELAY 0
