alias borgmatic-shell="podman run \
--rm \
--interactive \
--tty \
--entrypoint bash \
--cap-add SYS_ADMIN \
--device /dev/fuse \
--hostname {{ ansible_hostname }} \
--network web-egress \
--tz={{ timezone }} \
--env TZ={{ timezone }} \
--volume {{ containers_storage_path }}/config/borgmatic/borgmatic.d:/etc/borgmatic.d:Z \
--volume {{ containers_storage_path }}/config/borgmatic/.ssh:/root/.ssh:Z \
--volume {{ containers_storage_path }}/data/borgmatic:/root/.config/borg:Z \
--volume {{ containers_storage_path }}/runtime/borgmatic/borgmatic:/root/.borgmatic:Z \
--volume {{ containers_storage_path }}/runtime/borgmatic/cache:/root/.cache/borg:Z \
--volume {{ containers_storage_path }}/runtime/borgmatic/mount:/mount:Z \
--volume {{ containers_storage_path }}/runtime/borgmatic/restore:/restore:Z \
--volume {{ nfs_mounts_path }}/backups/groupware:{{ nfs_mounts_path }}/backups/groupware:slave \
--volume {{ nfs_mounts_path }}/backups/servers:{{ nfs_mounts_path }}/backups/servers:slave \
--volume {{ nfs_mounts_path }}/cloud/data:{{ nfs_mounts_path }}/cloud/data:slave \
--volume {{ nfs_mounts_path }}/medias/audiodrama:{{ nfs_mounts_path }}/medias/audiodrama:slave \
--volume {{ nfs_mounts_path }}/medias/audiobooks:{{ nfs_mounts_path }}/medias/audiobooks:slave \
--volume {{ nfs_mounts_path }}/medias/books:{{ nfs_mounts_path }}/medias/books:slave \
--volume {{ nfs_mounts_path }}/medias/comics:{{ nfs_mounts_path }}/medias/comics:slave \
--secret=borgmatic_documents_encryption_passphrase \
--secret=borgmatic_groupware_encryption_passphrase \
--secret=borgmatic_medias_encryption_passphrase \
--secret=borgmatic_servers_encryption_passphrase \
{{ containers_images.borgmatic }}:{{ containers_images_tags.borgmatic }}"
