location:
  source_directories:
    - '{{ nfs_mounts_path }}/backups/servers'
  repositories:
    - path: '{{ borgmatic.servers.repository }}'
      label: 'borgbase-servers'
  exclude_if_present:
    - '.nobackup'

storage:
  encryption_passcommand: "cat /run/secrets/borgmatic_servers_encryption_passphrase"
  compression: 'auto,zstd'
  retries: 5
  retry_wait: 5

retention:
  keep_daily: 28
  keep_weekly: 4
  keep_monthly: 6
  keep_yearly: 1

consistency:
  checks:
    - name: 'repository'
      frequency: '2 weeks'
    - name: 'archives'
      frequency: '4 weeks'

hooks:
  healthchecks:
    ping_url: 'https://hc-ping.com/{{ borgmatic.servers.healthchecks_uuid }}'
