[Unit]
Description=Memos
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=memos
Image={{ containers_images.memos }}:{{ containers_images_tags.memos }}
Network=web-egress
Network=common-internal
ExposeHostPort=5230
Volume={{ containers_storage_path }}/data/memos:/var/opt/memos:Z
Volume={{ volume_mount_path }}/documents/memos:/var/opt/memos/assets:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.memos.rule=Host(`memos.{{ domain_name }}`)"
Label="traefik.http.routers.memos.entrypoints=websecure"
Label="traefik.http.routers.memos.middlewares=set-security-headers@file"
Label="traefik.http.services.memos.loadbalancer.server.port=5230"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
