[Unit]
Description=Prowlarr
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=prowlarr
Image={{ containers_images.prowlarr }}:{{ containers_images_tags.prowlarr }}
Network=web-egress
Network=common-internal
ExposeHostPort=9696
Volume={{ containers_storage_path }}/data/prowlarr:/config:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Label=traefik.enable=true"
Label=traefik.docker.network=common-internal"
Label=traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ domain_name }}`)"
Label=traefik.http.routers.prowlarr.entrypoints=websecure"
Label=traefik.http.routers.prowlarr.middlewares=set-security-headers@file, restrict-external-access@file"
Label=traefik.http.services.prowlarr.loadbalancer.server.port=9696"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
