[Unit]
Description=Recyclarr
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=recyclarr
Image={{ containers_images.recyclarr }}:{{ containers_images_tags.recyclarr }}
Network=web-egress
Network=common-internal
Volume={{ containers_storage_path }}/runtime/recyclarr:/config:Z
Volume={{ containers_storage_path }}/config/recyclarr/recyclarr.yml:/config/recyclarr.yml:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
