[Unit]
Description=Nextcloud Redis
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=nextcloud-redis
Image={{ containers_images.nextcloud.redis }}:{{ containers_images_tags.nextcloud.redis }}
#Exec=redis-server /usr/local/etc/redis/redis.conf # See https://github.com/nextcloud/docker/issues/1402
Network=nextcloud-redis-internal
ExposeHostPort=6379
#Volume={{ containers_storage_path }}/config/immich-redis/redis.conf:/usr/local/etc/redis/redis.conf:Z
Volume={{ containers_storage_path }}/runtime/nextcloud-redis:/data:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
HealthCmd="redis-cli ping"
HealthInterval=10s
HealthTimeout=3s
HealthRetries=3
Notify=healthy

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
