[Unit]
Description=Nextcloud PostgreSQL
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=nextcloud-postgres
Image={{ containers_images.nextcloud.postgres }}:{{ containers_images_tags.nextcloud.postgres }}
Network=nextcloud-postgres-internal
ExposeHostPort=5432
Volume={{ containers_storage_path }}/runtime/nextcloud-postgres:/var/lib/postgresql/data:Z
Volume={{ containers_storage_path }}/data/nextcloud-postgres:/opt/dumps:Z
Secret=nextcloud_postgres_user
Secret=nextcloud_postgres_password
#Timezone={{ timezone }} # See https://github.com/healthchecks/healthchecks/issues/657
Environment="TZ={{ timezone }}"
Environment="POSTGRES_DB={{ nextcloud.postgres.database }}"
Environment="POSTGRES_USER_FILE=/run/secrets/nextcloud_postgres_user"
Environment="POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_postgres_password"
HealthCmd="pg_isready -d {{ nextcloud.postgres.database }} -U {{ nextcloud.postgres.user }}"
HealthInterval=10s
HealthTimeout=3s
HealthRetries=3
Notify=healthy

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
