[Unit]
Description=Nextcloud Cron
Wants=network-online.target
After=network-online.target

[Service]
Restart=no
ExecStart=/usr/bin/podman container exec -u www-data nextcloud-server php /var/www/html/cron.php
Type=simple

[Install]
WantedBy=default.target
