[Unit]
Description=Sonarr
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=sonarr
Image={{ containers_images.sonarr }}:{{ containers_images_tags.sonarr }}
Network=web-egress
Network=common-internal
ExposeHostPort=8989
Volume={{ containers_storage_path }}/data/sonarr:/config:Z
Volume={{ nfs_mounts_path }}/downloads:/downloads:slave
Volume={{ nfs_mounts_path }}/medias/series:/tv:slave
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.sonarr.rule=Host(`sonarr.{{ domain_name }}`)"
Label="traefik.http.routers.sonarr.entrypoints=websecure"
Label="traefik.http.routers.sonarr.middlewares=set-security-headers@file, restrict-external-access@file"
Label="traefik.http.services.sonarr.loadbalancer.server.port=8989"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
