[Unit]
Description=Autorestic
Wants=network-online.target
After=network-online.target
After=mbsync.service vdirsyncer.service rsync-servers.service
RequiresMountsFor=%t/containers
RequiresMountsFor={{ containers_storage_path }}/runtime/autorestic/lock
RequiresMountsFor={{ containers_storage_path }}/config/autorestic/autorestic.yml
RequiresMountsFor={{ storage_server_shares_mounts_path }}/backups/documents
RequiresMountsFor={{ storage_server_shares_mounts_path }}/backups/groupware
RequiresMountsFor={{ storage_server_shares_mounts_path }}/backups/servers
RequiresMountsFor={{ storage_server_shares_mounts_path }}/medias/audiodrama
RequiresMountsFor={{ storage_server_shares_mounts_path }}/medias/audiobooks
RequiresMountsFor={{ storage_server_shares_mounts_path }}/medias/books
RequiresMountsFor={{ storage_server_shares_mounts_path }}/medias/comics

[X-Container]
Image={{ containers_images.autorestic }}:{{ containers_images_tags.autorestic }}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Type=forking
RuntimeMaxSec=14400
TimeoutStartSec=300
TimeoutStopSec=70
Restart=no
ExecStart=/usr/bin/podman container run \
	--rm \
	--detach \
	--replace \
	--name autorestic \
	--cidfile=%t/%N.cid \
	--entrypoint "autorestic" \
	--hostname {{ ansible_hostname }} \
	--network web-egress \
	--volume {{ containers_storage_path }}/runtime/autorestic/lock:/config:Z \
	--volume {{ containers_storage_path }}/config/autorestic/autorestic.yml:/config/autorestic.yml:Z \
	--volume {{ storage_server_shares_mounts_path }}/backups/documents:{{ storage_server_shares_mounts_path }}/backups/documents:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/backups/groupware:{{ storage_server_shares_mounts_path }}/backups/groupware:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/backups/servers:{{ storage_server_shares_mounts_path }}/backups/servers:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/medias/audiodrama:{{ storage_server_shares_mounts_path }}/medias/audiodrama:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/medias/audiobooks:{{ storage_server_shares_mounts_path }}/medias/audiobooks:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/medias/books:{{ storage_server_shares_mounts_path }}/medias/books:slave,ro \
	--volume {{ storage_server_shares_mounts_path }}/medias/comics:{{ storage_server_shares_mounts_path }}/medias/comics:slave,ro \
	--tz {{ timezone }} \
	--env TZ={{ timezone }} {{ containers_images.autorestic }}:{{ containers_images_tags.autorestic }} -c /config/autorestic.yml --ci backup -a
ExecStop=/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid

[Install]
WantedBy=default.target
