[Unit]
Description=Unpackerr
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=unpackerr
Image={{ containers_images.unpackerr }}:{{ containers_images_tags.unpackerr }}
Network=common-internal
Volume={{ nfs_mounts_path }}/downloads/bittorrent/downloads:/downloads/bittorrent/downloads:slave
Timezone={{ timezone }}
EnvironmentFile={{ containers_storage_path }}/env/unpackerr/unpackerr.env
Environment="TZ={{ timezone }}"
Environment="UN_SONARR_0_URL=http://sonarr:8989"
Environment="UN_SONARR_0_PATHS_0=/downloads/bittorrent/downloads/tv"
Environment="UN_SONARR_0_PROTOCOLS=torrent"
Environment="UN_RADARR_0_URL=http://radarr:7878"
Environment="UN_RADARR_0_PATHS_0=/downloads/bittorrent/downloads/movies"
Environment="UN_RADARR_0_PROTOCOLS=torrent"
Environment="UN_LIDARR_0_URL=http://lidarr:8686"
Environment="UN_LIDARR_0_PATHS_0=/downloads/bittorrent/downloads/audio"
Environment="UN_LIDARR_0_PROTOCOLS=torrent"
Environment="UN_READARR_0_URL=http://readarr:8787"
Environment="UN_READARR_0_PATHS_0=/downloads/bittorrent/downloads/books"
Environment="UN_READARR_0_PROTOCOLS=torrent"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
