[Unit]
Description=Weekly pulling of container images

[Timer]
OnCalendar=Mon *-*-* 03:00:00
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
