[Unit]
Description=Weekly pulling of container images

[Timer]
OnCalendar=Mon *-*-* 02:00:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
