[Unit]
Description=Immich PostgreSQL dump
Wants=network-online.target
After=network-online.target
Wants=ping-healthchecksio-uuid@{{ immich.postgres.dump.healthchecks_uuid }}:start.service
OnSuccess=ping-healthchecksio-uuid@{{ immich.postgres.dump.healthchecks_uuid }}:success.service
OnFailure=ping-healthchecksio-uuid@{{ immich.postgres.dump.healthchecks_uuid }}:failure.service

[Service]
ExecStart=/usr/bin/podman container exec immich-postgres pg_dump --clean -U {{ immich.postgres.user }} {{ immich.postgres.database }} -f /opt/dumps/immich.sql
Type=oneshot
Restart=no

[Install]
WantedBy=default.target
