[Unit]
Description=Immich Server
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target
After=immich-postgres.service immich-redis.service immich-machine-learning.service
Requires=immich-postgres.service immich-redis.service immich-machine-learning.service

[Container]
ContainerName=immich-server
Image={{ containers_images.immich.server }}:{{ containers_images_tags.immich.server }}
Exec=start.sh immich
Network=web-egress
Network=common-internal
Network=immich-server-internal
Network=immich-redis-internal
Network=immich-postgres-internal
ExposeHostPort=3001
Volume={{ volume_mount_path }}/documents/immich:/usr/src/app/upload:z
Secret=immich_postgres_user
Secret=immich_postgres_password
Secret=immich_redis_password
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Environment="DB_HOSTNAME=immich-postgres"
Environment="DB_DATABASE_NAME={{ immich.postgres.database }}"
Environment="DB_USERNAME_FILE=/run/secrets/immich_postgres_user"
Environment="DB_PASSWORD_FILE=/run/secrets/immich_postgres_password"
Environment="REDIS_HOSTNAME=immich-redis"
Environment="REDIS_PASSWORD_FILE=/run/secrets/immich_redis_password"
Environment="UPLOAD_LOCATION=/usr/src/app/upload"
Environment="IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.immich.rule=Host(`immich.{{ domain_name }}`)"
Label="traefik.http.routers.immich.entrypoints=websecure"
Label="traefik.http.routers.immich.middlewares=set-security-headers@file"
Label="traefik.http.services.immich.loadbalancer.server.port=3001"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
