[Unit]
Description=Immich Typesense
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=immich-typesense
Image={{ containers_images.immich.typesense }}:{{ containers_images_tags.immich.typesense }}
Network=immich-typesense-internal
ExposeHostPort=8108
Volume={{ containers_storage_path }}/runtime/immich-typesense:/data:Z
Volume={{ containers_storage_path }}/data/immich-typesense:/opt/snapshot:Z
Timezone={{ timezone }}
EnvironmentFile={{ containers_storage_path }}/env/immich-typesense/immich-typesense.env
Environment="TZ={{ timezone }}"
Environment="TYPESENSE_DATA_DIR=/data"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
