{
  "settings": [
{% for item in ddns_updater %}
    {
      "provider": "{{ item.provider }}",
      "domain": "{{ item.domain }}",
      "host": "{{ item.host }}",
      "key": "{{ item.key }}",
      "ttl": {{ item.ttl }},
      "ip_version": "{{ item.ip_version }}"
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ]
}
