[Unit]
Description=Collabora Online
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=collabora-online
Image={{ containers_images.collabora_online }}:{{ containers_images_tags.collabora_online }}
AddCapability=MKNOD
Network=web-egress
Network=common-internal
ExposeHostPort=9980
Timezone={{ timezone }}
EnvironmentFile={{ containers_storage_path }}/env/collabora-online/collabora-online.env
Environment="TZ={{ timezone }}"
Environment="aliasgroup1=https://cloud.{{ domain_name }}:443"
Environment="dictionaries={{ collabora_online.dictionnaries }}"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.office.rule=Host(`office.{{ domain_name }}`)"
Label="traefik.http.routers.office.entrypoints=websecure"
Label="traefik.http.routers.office.middlewares=set-security-headers@file"
Label="traefik.http.services.office.loadbalancer.server.port=9980"
Label="traefik.http.services.office.loadbalancer.server.scheme=https"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
