[http]
  [http.routers]
    [http.routers.cockpit]
      entryPoints = ["websecure"]
      rule = "Host(`{{ ansible_fqdn }}`)"
      service = "cockpit"
      middlewares = ["set-security-headers", "restrict-external-access"]
  [http.services]
    [[http.services.cockpit.loadBalancer.servers]]
      url = "https://{{ ansible_fqdn }}:9090"
