[Unit]
Description=Maintainerr
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=maintainerr
Image={{ containers_images.maintainerr }}:{{ containers_images_tags.maintainerr }}
Network=web-egress
Network=common-internal
ExposeHostPort=6246
Volume={{ containers_storage_path }}/data/maintainerr:/opt/data:Z
Timezone={{ timezone }}
Environment="TZ={{ timezone }}"
Label="traefik.enable=true"
Label="traefik.docker.network=common-internal"
Label="traefik.http.routers.maintainerr.rule=Host(`maintainerr.{{ domain_name }}`)"
Label="traefik.http.routers.maintainerr.entrypoints=websecure"
Label="traefik.http.routers.maintainerr.middlewares=set-security-headers@file, restrict-external-access@file, maintainerr-auth"
Label="traefik.http.middlewares.maintainerr-auth.basicauth.users={{ maintainerr.user }}:{{ maintainerr.password_hash }}"
Label="traefik.http.services.maintainerr.loadbalancer.server.port=6246"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
