[http]
  [http.routers]
    [http.routers.home-assistant]
      entryPoints = ["websecure"]
      rule = "Host(`home.{{ domain_name }}`)"
      service = "home-assistant"
      middlewares = ["set-security-headers"]
  [http.services]
    [[http.services.home-assistant.loadBalancer.servers]]
      url = "http://{{ ansible_host }}:8123"
