[Unit]
Description=Prometheus
Documentation=man:podman-systemd.unit(5)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=prometheus
Image={{ containers_images.prometheus }}:{{ containers_images_tags.prometheus }}
Exec=--config.file=/etc/prometheus/prometheus.yml --web.config.file=/etc/prometheus/web.yml --storage.tsdb.path=/prometheus
Network=web-egress
Network=common-internal
ExposeHostPort=9090
Volume={{ containers_storage_path }}/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
Volume={{ containers_storage_path }}/config/prometheus/web.yml:/etc/prometheus/web.yml:Z
Volume={{ containers_storage_path }}/runtime/prometheus:/prometheus:Z
Secret=prometheus_prometheus_password
Secret=prometheus_node_password
Secret=prometheus_systemd_password
Timezone={{ timezone }}
Environment=TZ="{{ timezone }}"
Label=traefik.enable="true"
Label=traefik.docker.network="common-internal"
Label=traefik.http.routers.prometheus.rule="Host(`prometheus.{{ domain_name }}`)"
Label=traefik.http.routers.prometheus.entrypoints="websecure"
Label=traefik.http.routers.prometheus.middlewares="set-security-headers@file, restrict-external-access@file"
Label=traefik.http.services.prometheus.loadbalancer.server.port="9090"

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
